In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
plt.style.use('bmh')

In [2]:
df = pd.read_csv('binance_ETHEUR.csv')

In [4]:
df.dtypes

datetime            object
open               float64
high               float64
low                float64
close              float64
volume             float64
close_time           int64
asset_volume       float64
trade_number         int64
taker_buy_base     float64
taker_buy_quote    float64
dtype: object

In [5]:
df.head(2)

,datetime,open,high,low,close,volume,close_time,asset_volume,trade_number,taker_buy_base,taker_buy_quote
0,2020-10-06 17:49:00,298.99,298.99,298.99,298.99,0.81991,1601999399999,245.144891,4,0.00000,0.000000
1,2020-10-06 17:50:00,299.24,299.25,299.24,299.25,0.50726,1601999459999,151.793185,2,0.50726,151.793185